@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

h3 {
  font-family: 'Titillium Web', sans-serif;
}
section {
  background-image: url(../img/th.jpg);
}
div.container {
  max-width: 2000px;
  margin: 0 auto;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  content: '';
}
ul::after {
  clear:both;
  display: block;
  content: '';
}
ul li {
  width: calc(2000px / 3);
  display: inline-block;
  float: right;
  text-align: center;
  font-size: 160%;
  padding: 25px;
  box-sizing: border-box;
}
ul li a {
  width: 100%;
}
