@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

.fries {
  text-align: center;
}
img {
  text-align: center;
  width: 100%;
  height: 100%;
}
#churros {
  text-align: center;
}
